.footer {
  background-color: #1a365d; /* Dark blue background */
  color: #ffffff; /* White text */
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-email {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
}

.footer-email:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  color: #ffffff;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  color:
}

.footer-email{
  font-size: 1.0rem;
}
.footer-tagline{
  font-family: 'Futura', sans-serif;
}